# Webpacked JS
frontend/static/

# Nodes modules
node_modules/

# Database / Files
data/

# PyCharm conf
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Yarn lock file
yarn.lock
