# Webpacked JS
frontend/static/

# Nodes modules
node_modules/

# Database / Files
data/

# PyCharm conf
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Yarn lock file
yarn.lock

# Log files
yarn-error.log
chromedriver.log
geckodriver.log

# Local docker-compose file
docker-compose.override.yml

# Compiled js files
static/js/*
