coreapi
mod_wsgi
Django<4.0
django-allauth
django-rest-auth[with_social]
djangorestframework
ginsim
git+https://github.com/vincent-noel/pyMaBoSS.git
mysqlclient
PyYAML
scikit-learn
networkx
pydot
python-libsbml