//@import "../../../node_modules/bootstrap/scss/functions";
//@import "../../../node_modules/bootstrap/scss/variables";

//$grid-breakpoints: (
//  // Extra small screen / phone
//  xs: 0,
//  // Small screen / phone
//  sm: 200px,
//  // Medium screen / tablet
//  md: 200px,
//  // Large screen / desktop
//  lg: 200px,
//  // Extra large screen / wide desktop
//  xl: 200px
//);


@import "../../../node_modules/bootstrap/scss/bootstrap";
//@import "sidebar";

div.page {
  padding-top: 3.5rem;
}

div.fullpage {
  padding-top: 1.5rem;
}

img.fullsize {
  max-width: 100%;
  max-height: 100%;
}

div.form-inline-sm {

  @extend .form-inline;

  label {
    font-size: 0.875rem;
  }

  input {
    font-size: 0.875rem;
    width: calc(1.75rem + 2px);
  }

  button {
    button { @extend .btn-sm; }
  }
}
