//@import "../../../node_modules/bootstrap/scss/functions";
//@import "../../../node_modules/bootstrap/scss/variables";

//$grid-breakpoints: (
//  // Extra small screen / phone
//  xs: 0,
//  // Small screen / phone
//  sm: 200px,
//  // Medium screen / tablet
//  md: 200px,
//  // Large screen / desktop
//  lg: 200px,
//  // Extra large screen / wide desktop
//  xl: 200px
//);


@import "../../../node_modules/bootstrap/scss/bootstrap";
//@import "sidebar";

div.page {
  padding-top: 3.5rem;
}

div.fullpage {
  padding-top: 1.5rem;
}

img.fullsize {
  max-width: 100%;
  max-height: 100%;
}

div.form-inline-sm {

  @extend .form-inline;

  label {
    font-size: 0.875rem;
  }

  input {
    font-size: 0.875rem;
    width: calc(1.75rem + 2px);
  }

  button {
    button { @extend .btn-sm; }
  }
}

.table-steadystates {

  max-width: 100%;
  min-width: 100%;

  th {
    height: 5rem;
    white-space: nowrap;

    > div {
      transform:
          /* Magic Numbers */
          translate(-1rem, 1rem)

          /* 45 is really 360 - 45 */
          rotate(315deg);
      width: 2rem;

      > span {
        border-bottom: 1px solid #000;
        padding: 0.3rem 0.6rem;
      }
    }

  }

  td {
    height: 1rem;
    border : 1px solid black;

    &.active {
      background-color: green;
    }

    &.inactive {
      background-color: red;
    }

    &.actions {
      width : 1rem;

      button {
        padding: 0 0.5rem;
      }

    }
  }
}

.chart-legend {

    list-style:none;

    li {
    float: left;

      font-size: 0.8rem;
      color: #666;

      span.legend-color {

        width:45px;
        height:15px;
        display:inline-block;
        margin-right:5px;
      }
      span.legend-label {

        text-decoration: none;
        margin-right:10px;


      }

      &.disable-legend {
        span.legend-label{
          text-decoration: line-through;
        }
      }

    }
}
