.table-steadystates {

  max-width: 100%;
  min-width: 100%;

  th {
    height: 5rem;
    white-space: nowrap;

    > div {
      transform:
          /* Magic Numbers */
          translate(-1rem, 1rem)

          /* 45 is really 360 - 45 */
          rotate(315deg);
      width: 2rem;

      > span {
        border-bottom: 1px solid #000;
        padding: 0.3rem 0.6rem;
      }
    }

  }

  td {
    height: 1rem;
    border : 1px solid black;

    &.active {
      background-color: green;
    }

    &.inactive {
      background-color: red;
    }

    &.actions {
      width : 1rem;

      button {
        padding: 0 0.5rem;
      }

    }
  }
  tr {
    &.selected {
      border-width : 4px;
      border-style: solid;
    }
  }
}

